{{- /* The following variables are only available within this file */ -}}

{{- /* This retains the value passed with --source on chezmoi init, which is used in the ./install script */ -}}
sourceDir: "{{ .chezmoi.sourceDir }}"